@forward "tailwindcss";

* {
  box-sizing: border-box;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@layer components {
  h1 {
    @apply font-pixel text-4xl leading-none mt-0 mb-4 mx-auto font-normal;
  }
}
